@font-face {
    font-family: Garaigit;
    src: url("../src/assets/font/Garaigit.otf");
}

@font-face {
    font-family: Satoshi-Variable;
    src: url("../src/assets/font/Satoshi-Variable.ttf");
}

@font-face {
    font-family: LTSuperiorMonoMedium;
    src: url("../src/assets/font/LTSuperiorMono-Medium.otf");
}

@font-face {
    font-family: LTSuperiorMono;
    src: url("../src/assets/font/LTSuperiorMono-Regular.otf");
}



@import "tailwindcss";

:root {
    --bg-primary : black;
}

@theme{
    --font-garaigit: Garaigit;
    --font-satoshi: Satoshi-Variable;
    --font-ltsuperiorMonoMedium: LTSuperiorMonoMedium;
    --font-ltsuperiorMono: LTSuperiorMono;
    --breakpoint-xs: 400px;
    --color-primary: #101010;
}


